#admin-hd {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#admin-hd > img {
    margin-left: 40px;
}

#admin-hd > button {
    margin-right: 70px;
}

.admin-change {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 2px solid #d3d3d3;
    border-radius: 8px;
}

.admin-change > img {
    width: 24px;
    margin-left: 8px;
}