#order-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.order-item-info-image {
    display: flex;
    align-items: start;
    gap: 24px;
    width: 450px;
}

.order-item-image {
    width: 100px;
}

.order-item-info > p {
    margin: 0;
}

.sub-info-order {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

.kietdo {
    margin-bottom: 10px !important;
    font-size: 14px;
}

.kietdo > span {
    color: #99a1af;
}

.circle {
    background-color: oklch(72.3% 0.219 149.579);
    border-radius: calc(infinity * 1px);;
    height: 8px;
    min-width: 8px;
}
.sub-container-order {
    display: flex;
    gap: 4px;
    align-items: center;
}

