@media (min-width: 640px) {
  #place-order-container {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

@media (min-width: 768px) {
  #place-order-container {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}

@media (min-width: 1024px) {
  #place-order-container {
    padding-left: 7.5vw;
    padding-right: 7.5vw;
  }
}

#place-order-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-top: 1px solid #e5e7eb;
    position: relative;
}

.delivery-info-place {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%
}

.place-total {
    width: 100%;
}

@media (min-width: 640px) {
    .delivery-info-place, .place-total {
        width: 480px;
    }
    #place-order-container {
        flex-direction: row;
        gap: 250px;
    }
}

.flex-gap-12px {
    display: flex;
    gap: 12px;
}

.input-placeorder {
    border: 2px solid black;
    border-radius: 0.375rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;

}

.display-none {
    display: none;
}
