@media (min-width: 640px) {
  .product-container-detail {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

@media (min-width: 768px) {
  .product-container-detail {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}

@media (min-width: 1024px) {
  .product-container-detail {
    padding-left: 7.5vw;
    padding-right: 7.5vw;
  }
}


.product-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.image-and-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

@media (min-width: 640px) {
    .image-and-info {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 32px;
}
}

.image-product-detail {
    display: flex;
    flex: 1;
    gap: 8px;
}

#sub-image {
    display: flex;
    flex-direction: column;
    width: 18%;
}

#sub-image > img {
    flex-shrink: 0;
    margin-bottom: 8px;
}

#main-image {
    width: 75%;
    text-align: center;
    justify-content: space-between;
}

#main-image > img {
    width: 100%;
}

.info {
    flex: 1;
}

.info > h2 {
    margin-bottom: 0;
    margin-top: 4px;
}

.star {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 16px;
}

.star > img {
    width: 12px;
}

#price {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
}

#desc {
    width: 75%;
    margin-top: 20px;
    color: #6b7280;
}

.size-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-block: 24px;
}

#button-size-wrapper {
    display: flex;
    gap: 8px;
}

#button-size-wrapper > button {
    border: 1px solid #e5e7eb;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #e5e7eb;
    cursor: pointer;
}

.info > button {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 5px 0 20px 0;
    border-radius: 30px;
    transition: background 0.5s;
    font-weight: 600;
    cursor: pointer;
}

.info > button:hover {
    background-color: #563434;
}

.more-info {
    margin-top:26px;
}

.more-info > p {
    font-size: 14px;
    color: #6a7282;
    line-height: 1.5;
    margin: 8px 0 0 0;
}

.desc-and-review {
    display: flex;
    margin-top: 40px;
}

.desc-and-review > p {
    padding: 12px 20px;
    margin: 0px;
    border: 1px solid #e5e7eb;
}

.bold {
    font-weight: 600;
}

.content-of-desc-review {
    padding: 24px;
    border: 1px solid #e5e7eb;
    margin-bottom: 54px;
}

.content-of-desc-review > p {
    width: 60%;
    color: #6a7282;
}

.related {
    text-align: center;
}

.button-item.active {
    border: 1px solid black !important;
}

.sub-image-item {
    cursor: pointer;
}

